<%- include('header') %>

<section>
  <div class="flex">
    <div>
      <a href="/"><h1>CS2D Server List</h1><small>cs2d.serverpit.com</small></a>
    </div>
    <div>
      <span><strong>API Documentation</strong></span>
      <span>Blazing-fast service</span>
    </div>
  </div>
  <div>
    <p>Retrieve detailed data of CS2D Server with updated data every 15 seconds.</p>
    <code>https://cs2d.serverpit.com/api/<%= example.ip %>:<%= example.port %></code>
    <p>The following is an example of response:</p>
    <pre><%-JSON.stringify(example, null, 2)%></pre>
  </div>
</section>

<%- include('footer') %>
