<%- include('header') %>

<section>
  <div class="flex">
    <div>
      <a href="/"><h1>CS2D Server List</h1><small>cs2d.serverpit.com</small></a>
    </div>
  </div>
  <div>
    <p>Acquire in-depth information from the CS2D Server, ensuring updated data is obtained at 10-second intervals.</p>
    <code>https://cs2d.serverpit.com/api/<%= example.ip %>:<%= example.port %></code>
    <p>The following is an example of response:</p>
    <pre><%-JSON.stringify(example, null, 2)%></pre>
  </div>
</section>

<%- include('footer') %>
