<%- include('header') %>

<ul class="bc">
  <li class="bc-item"><a href="/">CS2D Serverlist</a></li>
  <li class="bc-item">Server Details</li>
</ul>
<div class="content">
  <h1><%= s.name %></h1>
  <div class="box">
    <div class="responsive">
      <table class="details">
        <tbody>
          <tr>
            <th>Address</th>
            <td><%= s.ip %>:<%= s.port %></td>
          </tr>
          <tr>
            <th>Map</th>
            <td><%= s.map %></td>
          </tr>
          <tr>
            <th>Players</th>
            <td><%= s.players %>/<%= s.maxplayers %><% if (s.bots > 0) { %> (<%= s.bots %> bots)<% } %></td>
          </tr>
          <tr>
            <th>Game Mode</th>
            <td>
              <% switch (s.gamemode) {
                case 0: %>
              Standard
              <% break;
                case 1: %>
              Deathmatch
              <% break;
                case 2: %>
              Team Deathmatch
              <% break;
                case 3: %>
              Construction
              <% break;
                case 4: %>
              Zombies!
              <% break;
                default:
                break; } %>
            </td>
          </tr>
          <tr>
            <th>Lua Scripts</th>
            <td><% if (s.lua) { %>Yes<% } else { %>No<% } %></td>
          </tr>
          <tr>
            <th>Password</th>
            <td><% if (s.password) { %>Yes<% } else { %>No<% } %></td>
          </tr>
          <tr>
            <th>USGN Only</th>
            <td><% if (s.usgnonly) { %>Yes<% } else { %>No<% } %></td>
          </tr>
          <tr>
            <th>Fog of War</th>
            <td><% if (s.fow) { %>Yes<% } else { %>No<% } %></td>
          </tr>
          <tr>
            <th>Force Lighting</th>
            <td><% if (s.forcelight) { %>Yes<% } else { %>No<% } %></td>
          </tr>
          <tr>
            <th>Recoil</th>
            <td><% if (s.recoil) { %>Yes<% } else { %>No<% } %></td>
          </tr>
          <tr>
            <th>Off-Screen Dmg</th>
            <td><% if (s.offscreendamage) { %>Yes<% } else { %>No<% } %></td>
          </tr>
          <tr>
            <th>Has downloads</th>
            <td><% if (s.hasdownloads) { %>Yes<% } else { %>No<% } %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="responsive">
      <table class="playerlist sortable">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th><span class="desktop">Score</span><span class="mobile">S</span></th>
            <th><span class="desktop">Deaths</span><span class="mobile">D</span></th>
          </tr>
        </thead>
        <tbody>
          <% if (s.players == 0) { %>
          <tr>
            <td colspan="4">Server is empty</td>
          </tr>
          <% } else { %>
          <% s.playerlist.forEach(function(p) { %>
          <tr>
            <td><%= p.id %></td>
            <% switch (p.team) {
              case 0: %>
            <td class="spec">
            <% break;
              case 1: %>
            <td class="t">
            <% break;
              default: %>
            <td class="ct">
            <% break; } %>
              <%= p.name %>
            </td>
            <td><%= p.score %></td>
            <td><%= p.deaths %></td>
          </tr>
          <% }); %>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%- include('footer') %>
