<div class="flex">
  <div>
    <h1 id="name"><%= s.name %></h1><div id="loader" style="display:none;"></div>
  </div>
  <div class="flags">
    <div title="Password" class="flag password<% if (s.password) { %> enabled<% } %>"></div>
    <div title="USGN Only" class="flag usgnonly<% if (s.usgnonly) { %> enabled<% } %>"></div>
    <div title="Fog of War" class="flag fow<% if (s.fow) { %> enabled<% } %>"></div>
    <div title="Force Light" class="flag forcelight<% if (s.forcelight) { %> enabled<% } %>"></div>
    <div title="Recoil" class="flag recoil<% if (s.recoil) { %> enabled<% } %>"></div>
    <div title="Off-Screen Damage" class="flag offscreendamage<% if (s.offscreendamage) { %> enabled<% } %>"></div>
    <div title="Has Downloads" class="flag hasdownloads<% if (s.hasdownloads) { %> enabled<% } %>"></div>
    <span title="<%= ['Standard', 'Deathmatch', 'Team Deathmatch', 'Construction', 'Zombies!'][s.gamemode] %>" class="flag-gm <%= ['s', 'd', 't', 'c', 'z'][s.gamemode] || '' %>"><%= ['S', 'D', 'T', 'C', 'Z'][s.gamemode] || '' %></span>
    <abbr class="emoji" title="<%= s.dbg.geoip.city ? s.dbg.geoip.city + ', ' + s.dbg.geoip.country_name : s.dbg.geoip.country_name || 'Unknown' %>"><%= s.dbg.geoip.emoji_flag || 'ðŸ³ï¸' %></abbr>
    </div>
</div>

<div class="bar">
  <div>
    <span>Updated</span>
    <span id="ts" data-ts="<%= s.ts %>"><%= timeAgo(s.ts) %></span>
  </div>
    <div><span>Players</span><span id="p"><%= s.players %>/<%= s.maxplayers %><% if (s.bots > 0) { %> (<%= s.bots %> bot<%= s.bots > 1 ? 's' : '' %>)<% } %></span></div>
  <div><span>Map</span><span id="map"><%= s.map %></span></div>
  <div><span>Address</span><span id="addr"><%= s.ip %>:<%= s.port %></span></div>
  <% if (l != false) { %><div><span>Leaderboard</span><a href="/leaderboard/<%= s.ip %>:<%= s.port %>">Visit Page</a></div><% } %>
</div>

<div class="details">
  <table class="<% if (s.gamemode == 1) { %>dm<% } else { %>ct<% } %>">
    <thead>
      <tr>
        <th>Player</th>
        <th>Score</th>
        <th>Deaths</th>
      </tr>
    </thead>
    <tbody id="ct">
      <% s.playerlist.sort((a, b) => b.score - a.score); %>
      <% s.playerlist.forEach(function(p) { %>
      <% if (p.team >= 2) { %>
      <tr>
        <td><%= p.name %></td>
        <td><%= p.score %></td>
        <td><%= p.deaths %></td>
      </tr>
      <% } %>
      <% }) %>
    </tbody>
  </table>
  <table class="<% if (s.gamemode == 1) { %>dm<% } else { %>tt<% } %>">
    <thead>
      <tr>
        <th>Player</th>
        <th>Score</th>
        <th>Deaths</th>
      </tr>
    </thead>
    <tbody id="t">
      <% s.playerlist.forEach(function(p) { %>
      <% if (p.team == 1) { %>
      <tr>
        <td><%= p.name %></td>
        <td><%= p.score %></td>
        <td><%= p.deaths %></td>
      </tr>
      <% } %>
      <% }) %>
    </tbody>
  </table>
</div>

<div class="spec">
  <% if (s.playerlist && s.playerlist.filter(p => p.team == 0).length > 0) { %>
    Spectators: <%= s.playerlist.filter(p => p.team == 0).map(p => p.name).join(', ') %>
  <% } %>
</div>
