<div class="flex">
  <div>
    <% if (s.dbg.emoji) { %><div class="emoji" data-tippy-content="IP Geolocation: <%= s.dbg.city || 'Unknown' %>, <%= s.dbg.country || 'Unknown' %><br><%= s.dbg.org || 'Unknown' %>"><%= s.dbg.emoji %></div><% } %><h1 id="name"><%= s.name %></h1>
  </div>
  <div id="timeAgo">
    <span id="ts" data-ts="<%= s.ts %>"><%= timeAgo(s.ts) %></span>
    <div id="loader"></div>
    <div id="timer">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
      </svg>
    </div>
  </div>
</div>

<div class="bar">
  <div>
    <span>Players</span>
    <span id="p"<% if (s.players - s.bots > 0) { %> class="e" <% } %>><svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="me-1.5 size-5 text-green-400"><path d="M11.5 8A1.5 1.5 0 0 1 13 9.5v.5c0 2-1.9 4-5 4s-5-2-5-4v-.5A1.5 1.5 0 0 1 4.5 8zM8 1.5A2.7 2.7 0 1 1 8 7a2.7 2.7 0 0 1 0-5.5" fill="currentColor"></path></svg><i><%= (s.players - s.bots) %></i><% if (s.bots > 0) { %><span class="b">+<%= s.bots %></span><% } %>/<%= s.maxplayers %>
  </div>
  <div>
    <span>Map</span>
    <span id="map"><%= s.map %></span>
  </div>
  <div>
    <span>Game Mode</span>
    <span id="gm" class="<%= ['s', 'd', 't', 'c', 'z'][s.gamemode] %>"><%= ['Standard', 'Deathmatch', 'Team Deathmatch', 'Construction', 'Zombies!'][s.gamemode] %></span>
  </div>
  <div>
    <span>Address</span>
    <span id="addr"><%= s.ip %>:<%= s.port %></span>
  </div>
  <% if (l != false) { %>
  <a href="/leaderboard/<%= s.ip %>:<%= s.port %>">
    <span>Leaderboard</span>
    <span>Visit Page</span>
  </a>
  <% } %>
</div>

<div class="fl">
  <div data-flag="lua" class="<%= s.lua ? 'enbl' : 'dsbl' %>">Lua Scripts</div>
  <div data-flag="downloads" class="<%= s.downloads ? 'enbl' : 'dsbl' %>">Downloads</div>
  <div data-flag="offscreendamage" class="<%= s.offscreendamage ? 'enbl' : 'dsbl' %>">Off-Scn Dmg</div>
  <div data-flag="fow" class="<%= s.fow ? 'enbl' : 'dsbl' %>">Fog of War</div>
  <div data-flag="forcelight" class="<%= s.forcelight ? 'enbl' : 'dsbl' %>">Force Light</div>
  <div data-flag="friendlyfire" class="<%= s.friendlyfire ? 'enbl' : 'dsbl' %>">Friendly Fire</div>
  <div data-flag="recoil" class="<%= s.recoil ? 'enbl' : 'dsbl' %>">Dyn Recoil</div>
  <div data-flag="password" class="<%= s.password ? 'enbl' : 'dsbl' %>">Password</div>
  <div data-flag="usgnonly" class="<%= s.usgnonly ? 'enbl' : 'dsbl' %>">USGN Only</div>
</div>

<div class="details">
  <table class="<% if (s.gamemode == 1) { %>dm<% } else { %>ct<% } %>">
    <thead>
      <tr>
        <th>Player</th>
        <th>Score</th>
        <th>Deaths</th>
      </tr>
    </thead>
    <tbody id="ct">
      <% s.playerlist.forEach(function(p) { %>
      <% if (p.team >= 2) { %>
      <tr>
        <td><%= p.name %></td>
        <td><%= p.score %></td>
        <td><%= p.deaths %></td>
      </tr>
      <% } %>
      <% }) %>
    </tbody>
  </table>
  <table class="<% if (s.gamemode == 1) { %>dm<% } else { %>tt<% } %>">
    <thead>
      <tr>
        <th>Player</th>
        <th>Score</th>
        <th>Deaths</th>
      </tr>
    </thead>
    <tbody id="t">
      <% s.playerlist.forEach(function(p) { %>
      <% if (p.team == 1) { %>
      <tr>
        <td><%= p.name %></td>
        <td><%= p.score %></td>
        <td><%= p.deaths %></td>
      </tr>
      <% } %>
      <% }) %>
    </tbody>
  </table>
</div>

<div class="spec">
  <% if (s.playerlist && s.playerlist.filter(p => p.team == 0).length > 0) { %>
    Spectators: <%= s.playerlist.filter(p => p.team == 0).map(p => p.name).join(', ') %>
  <% } %>
</div>

