<%- include('header') %>

<section>
  <div class="flex">
    <div>
      <a href="/"><h1>CS2D Server List</h1><small>cs2d.serverpit.com</small></a>
    </div>
    <div>
      <span><strong>Last Update</strong></span>
      <span id="ts" data-ts="<%= s.ts %>"></span>
    </div>
  </div>
  <div class="details">
    <div class="table-responsive">
      <table>
        <thead>
          <tr>
            <th>Key</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Name</th>
            <td id="name"><%= s.name %></td>
          </tr>
          <tr>
            <th>Address</th>
            <td id="address"><%= s.ip %>:<%= s.port %></td>
          </tr>
          <tr>
            <th>Map</th>
            <td id="map"><%= s.map %></td>
          </tr>
          <tr>
            <th>Players</th>
            <td id="players"><%= s.players %>/<%= s.maxplayers %><% if (s.bots > 0) { %> (<%= s.bots %> bots)<% } %></td>
          </tr>
          <tr>
            <th>Game Mode</th>
            <td id="gamemode">
              <% switch (s.gamemode) {
                case 0: %>
              Standard
              <% break;
                case 1: %>
              Deathmatch
              <% break;
                case 2: %>
              Team Deathmatch
              <% break;
                case 3: %>
              Construction
              <% break;
                case 4: %>
              Zombies!
              <% break;
                default:
                break; } %>
            </td>
          </tr>
          <tr>
            <th>Lua Scripts</th>
            <td id="lua"><% if (s.lua) { %>Yes<% } else { %>No<% } %></td>
          </tr>
          <tr>
            <th>Password</th>
            <td id="password"><% if (s.password) { %>Yes<% } else { %>No<% } %></td>
          </tr>
          <tr>
            <th>USGN Only</th>
            <td id="usgnonly"><% if (s.usgnonly) { %>Yes<% } else { %>No<% } %></td>
          </tr>
          <tr>
            <th>Fog of War</th>
            <td id="fow"><% if (s.fow) { %>Yes<% } else { %>No<% } %></td>
          </tr>
          <tr>
            <th>Force Lighting</th>
            <td id="forcelight"><% if (s.forcelight) { %>Yes<% } else { %>No<% } %></td>
          </tr>
          <tr>
            <th>Recoil</th>
            <td id="recoil"><% if (s.recoil) { %>Yes<% } else { %>No<% } %></td>
          </tr>
          <tr>
            <th>Off-Screen Dmg</th>
            <td id="offscreendamage"><% if (s.offscreendamage) { %>Yes<% } else { %>No<% } %></td>
          </tr>
          <tr>
            <th>Has downloads</th>
            <td id="hasdownloads"><% if (s.hasdownloads) { %>Yes<% } else { %>No<% } %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="table-responsive">
      <table class="sortable asc">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Score</th>
            <th>Deaths</th>
          </tr>
        </thead>
        <tbody id="playerlist">
          <% if (s.players == 0) { %>
          <tr>
            <td colspan="4">Server is empty</td>
          </tr>
          <% } else { %>
          <% s.playerlist.forEach(function(p) { %>
          <tr class="<% if (p.team == 0) { %>spec<% } else if (p.team == 1) { %>t<% } else { %>ct<% } %>">
            <td><%= p.id %></td>
            <td><%= p.name %></td>
            <td><%= p.score %></td>
            <td><%= p.deaths %></td>
          </tr>
          <% }); %>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</section>

<%- include('footer') %>
