<div class="flex">
  <div>
    <span id="gm" class="<%= ['s', 'd', 't', 'c', 'z'][s.gamemode] || '' %>"><%= ['S', 'D', 'T', 'C', 'Z'][s.gamemode] || '' %></span><h1 id="name"><%= s.name %></h1>
    <div class="subh"><i class="bi bi-info-lg"></i><span id="map"><%= s.map %></span></div>
  </div>
  <div>&nbsp;</div>
</div>

<div class="flex flex-details">
  <code id="address" class="language-bash copy"><%= s.ip %>:<%= s.port %></code>
  <div id="pro">
    <span><i class="bi bi-arrow-clockwise"></i>Refresh in 10 s</span></span>
    <div id="progress"></div>
  </div>
</div>

<div class="bar">
  <div><span>Players</span><span id="players"><%= s.players %>/<%= s.maxplayers %><% if (s.bots > 0) { %> (<%= s.bots %> bots)<% } %></span></div>
  <div><span>Password</span><span id="password"><% if (s.password) { %>Enabled<% } else { %>Disabled<% } %></span></div>
  <div><span>USGN Only</span><span id="usgnonly"><% if (s.usgnonly) { %>Enabled<% } else { %>Disabled<% } %></span></div>
  <div><span>Fog of War</span><span id="fow"><% if (s.fow) { %>Enabled<% } else { %>Disabled<% } %></span></div>
  <div><span>Lighting</span><span id="forcelight"><% if (s.forcelight) { %>Enabled<% } else { %>Disabled<% } %></span></div>
  <div><span>Recoil</span><span id="recoil"><% if (s.recoil) { %>Enabled<% } else { %>Disabled<% } %></span></div>
  <div><span>Off-Screen</span><span id="offscreendamage"><% if (s.offscreendamage) { %>Enabled<% } else { %>Disabled<% } %></span></div>
  <div><span>Location</span><span id="country"><span class="flag"><%= s.geoip.flag %></span><%= s.geoip.code %></span></div>
</div>

<div class="details">
  <div class="table-responsive">
    <table class="ct sortable asc">
      <thead>
        <tr>
          <th>ID</th>
          <th>Counter-Terrorist Forces</th>
          <th>Score</th>
          <th>Deaths</th>
        </tr>
      </thead>
      <tbody id="ct">
        <% s.playerlist.forEach(function(p) { %>
        <% if (p.team == 2 || p.team == 3) { %>
        <tr>
          <td><%= p.id %></td>
          <td><%= p.name %></td>
          <td><%= p.score %></td>
          <td><%= p.deaths %></td>
        </tr>
        <% } %>
        <% }) %>
      </tbody>
    </table>
  </div>
  <div class="table-responsive">
    <table class="tt sortable asc">
      <thead>
        <tr>
          <th>ID</th>
          <th>Terrorist Forces</th>
          <th>Score</th>
          <th>Deaths</th>
        </tr>
      </thead>
      <tbody id="t">
        <% s.playerlist.forEach(function(p) { %>
        <% if (p.team == 1) { %>
        <tr>
          <td><%= p.id %></td>
          <td><%= p.name %></td>
          <td><%= p.score %></td>
          <td><%= p.deaths %></td>
        </tr>
        <% } %>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>
<div class="spec"><% if (spectators.length > 0) {%>Spectators: <%= spectators.map(p => p.name).join(', ') %> <% } %></div>