<div class="flex">
  <div>
    <h1 id="name"><%= s.name %></h1>
  </div>
  <div class="flags">
    <div title="Password" class="flag password<% if (s.password) { %> enabled<% } %>"></div>
    <div title="USGN Only" class="flag usgnonly<% if (s.usgnonly) { %> enabled<% } %>"></div>
    <div title="Fog of War" class="flag fow<% if (s.fow) { %> enabled<% } %>"></div>
    <div title="Force Light" class="flag forcelight<% if (s.forcelight) { %> enabled<% } %>"></div>
    <div title="Recoil" class="flag recoil<% if (s.recoil) { %> enabled<% } %>"></div>
    <div title="Off-Screen Damage" class="flag offscreendamage<% if (s.offscreendamage) { %> enabled<% } %>"></div>
    <div title="Has Downloads" class="flag hasdownloads<% if (s.hasdownloads) { %> enabled<% } %>"></div>
    <span title="<%= ['Standard', 'Deathmatch', 'Team Deathmatch', 'Construction', 'Zombies!'][s.gamemode] %>" class="flag-gm <%= ['s', 'd', 't', 'c', 'z'][s.gamemode] || '' %>"><%= ['S', 'D', 'T', 'C', 'Z'][s.gamemode] || '' %></span>
  </div>
</div>

<div class="bar">
  <div><span>Players</span><span id="p"><%= s.players %>/<%= s.maxplayers %><% if (s.bots > 0) { %> (<%= s.bots %> bots)<% } %></span></div>
  <div><span>Map</span><span id="map"><%= s.map %></span></div>
  <div><span>Location</span><span id="location"><%= s.geoip.name %></span></div>
  <div><span>Address</span><span id="addr" class="copy"><%= s.ip %>:<%= s.port %></span></div>
</div>

<div class="details">
  <table class="<% if (s.gamemode == 1) { %>dm<% } else { %>ct<% } %>">
    <thead>
      <tr>
        <th>Player</th>
        <th>Score</th>
        <th>Deaths</th>
      </tr>
    </thead>
    <tbody id="ct">
      <% s.playerlist.forEach(function(p) { %>
      <% if (p.team >= 2) { %>
      <tr>
        <td><%= p.name %></td>
        <td><%= p.score %></td>
        <td><%= p.deaths %></td>
      </tr>
      <% } %>
      <% }) %>
    </tbody>
  </table>
  <table class="<% if (s.gamemode == 1) { %>dm<% } else { %>tt<% } %>">
    <thead>
      <tr>
        <th>Player</th>
        <th>Score</th>
        <th>Deaths</th>
      </tr>
    </thead>
    <tbody id="t">
      <% s.playerlist.forEach(function(p) { %>
      <% if (p.team == 1) { %>
      <tr>
        <td><%= p.name %></td>
        <td><%= p.score %></td>
        <td><%= p.deaths %></td>
      </tr>
      <% } %>
      <% }) %>
    </tbody>
  </table>
</div>

<div class="spec">
  <% if (s.playerlist && s.playerlist.filter(p => p.team == 0).length > 0) { %>
    Spectators: <%= s.playerlist.filter(p => p.team == 0).map(p => p.name).join(', ') %>
  <% } %>
</div>
