<%- include('header') %>

<section>
  <div class="flex">
    <div>
        <a href="/"><h1 id="name"><%= s.name %></h1><small id="address"><%= s.ip %>:<%= s.port %></small></a>
    </div>
    <div>
      <div>
        <span id="map"><%= s.map %></span>
      </div>
      <div>
        <span id="players"><%= s.players %>/<%= s.maxplayers %><% if (s.bots > 0) { %> (<%= s.bots %> bots)<% } %></span>
      </div>
    </div>

  </div>
  <div class="bar">
    <div><span>Location</span><span id="loc"><%= s.countryFlag %> <%= s.country %></span></div>
    <div><span>Game Mode</span><span id="gamemode"><%= ['Standard', 'Deathmatch', 'Team Deathmatch', 'Construction', 'Zombies!'][s.gamemode] || '' %></span></div>
    <div><span>Lua Scripts</span><span id="lua"><% if (s.lua) { %>Yes<% } else { %>No<% } %></span></div>
    <div><span>Password</span><span id="password"><% if (s.password) { %>Yes<% } else { %>No<% } %></span></div>
    <div><span>USGN Only</span><span id="usgnonly"><% if (s.usgnonly) { %>Yes<% } else { %>No<% } %></span></div>
    <div><span>Fog of War</span><span id="fow"><% if (s.fow) { %>Yes<% } else { %>No<% } %></span></div>
    <div><span>Force Lighting</span><span id="forcelight"><% if (s.forcelight) { %>Yes<% } else { %>No<% } %></span></div>
    <div><span>Recoil</span><span id="recoil"><% if (s.recoil) { %>Yes<% } else { %>No<% } %></span></div>
    <div><span>Off-Screen Dmg</span><span id="offscreendamage"><% if (s.offscreendamage) { %>Yes<% } else { %>No<% } %></span></div>
    <div><span>Has Downloads</span><span id="hasdownloads"><% if (s.hasdownloads) { %>Yes<% } else { %>No<% } %></span></div>
  </div>
  <div class="details">
    <div class="table-responsive">
      <table class="ct sortable asc">
        <thead>
          <tr>
            <th>Player</th>
            <th>Score</th>
            <th>Deaths</th>
          </tr>
        </thead>
        <tbody id="ct">
          <% s.playerlist.forEach(function(p) { %>
          <% if (p.team == 2 || p.team == 3) { %>
          <tr>
            <td><%= p.name %></td>
            <td><%= p.score %></td>
            <td><%= p.deaths %></td>
          </tr>
          <% } %>
          <% }); %>
        </tbody>
      </table>
    </div>
    <div class="table-responsive">
      <table class="t sortable asc">
        <thead>
          <tr>
            <th>Player</th>
            <th>Score</th>
            <th>Deaths</th>
          </tr>
        </thead>
        <tbody id="t">
          <% s.playerlist.forEach(function(p) { %>
          <% if (p.team == 1) { %>
          <tr>
            <td><%= p.name %></td>
            <td><%= p.score %></td>
            <td><%= p.deaths %></td>
          </tr>
          <% } %>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="spec<% if (spectators.length == 0) {%> hide<% } %>">Spectators: <%= spectators.map(p => p.name).join(', ') %></div>
</section>

<%- include('footer') %>
