<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Browse CS2D server stats, leaderboards, and detailed game info. Use our open API to access server data and upload leaderboard stats with JSON and CORS support.">
    <meta name="keywords" content="cs2d servers, cs2d server list, cs2d leaderboard, cs2d API, cs2d server stats, cs2d game data, cs2d map stats, cs2d server info">
  
    <title><% if (title != '') { %><%= title %> – <% } %>CS2D Server List</title>
  
    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico">
  
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/style.css?v=<%= style %>">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/inter-ui@4.1.0/inter.min.css">
  
    <!-- Open Graph (Facebook, Discord, etc.) -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="<% if (title != '') { %><%= title %> – <% } %>CS2D Server List">
    <meta property="og:description" content="Browse CS2D server stats, leaderboards, and detailed game info. Use our open API to access server data and upload leaderboard stats with JSON and CORS support.">
    <meta property="og:image" content="https://cs2d.pp.ua/capsule_main_616x353.jpg">
    <meta property="og:image:width" content="616">
    <meta property="og:image:height" content="353">
    <meta property="og:url" content="https://cs2d.pp.ua/">
    <meta property="og:site_name" content="CS2D Server List">
  
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<% if (title != '') { %><%= title %> – <% } %>CS2D Server List">
    <meta name="twitter:description" content="Browse CS2D server stats, leaderboards, and detailed game info. Use our open API to access server data and upload leaderboard stats with JSON and CORS support.">
    <meta name="twitter:image" content="https://cs2d.pp.ua/capsule_main_616x353.jpg">
  </head>  
<body>
  <nav>
    <a href="/">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
        <path d="M2 9a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-1a2 2 0 0 0-2-2zm.5 3a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1m2 0a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1M2 2a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zm.5 3a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1m2 0a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1"/>
      </svg>
      <span>Servers</span>
    </a>
    <a href="/stats">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
        <path d="M6.5 0A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0zm3 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5z"/>
        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1A2.5 2.5 0 0 1 9.5 5h-3A2.5 2.5 0 0 1 4 2.5zM10 8a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0zm-6 4a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0zm4-3a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0v-3a1 1 0 0 1 1-1"/>
      </svg>
      <span>Stats</span>
    </a>
    <a href="/webhooks">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-discord" viewBox="0 0 16 16">
        <path d="M13.545 2.907a13.2 13.2 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.2 12.2 0 0 0-3.658 0 8 8 0 0 0-.412-.833.05.05 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.04.04 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032q.003.022.021.037a13.3 13.3 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019q.463-.63.818-1.329a.05.05 0 0 0-.01-.059l-.018-.011a9 9 0 0 1-1.248-.595.05.05 0 0 1-.02-.066l.015-.019q.127-.095.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.05.05 0 0 1 .053.007q.121.1.248.195a.05.05 0 0 1-.004.085 8 8 0 0 1-1.249.594.05.05 0 0 0-.03.03.05.05 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.2 13.2 0 0 0 4.001-2.02.05.05 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.03.03 0 0 0-.02-.019m-8.198 7.307c-.789 0-1.438-.724-1.438-1.612s.637-1.613 1.438-1.613c.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612m5.316 0c-.788 0-1.438-.724-1.438-1.612s.637-1.613 1.438-1.613c.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612"/>
      </svg>
      <span>Webhooks</span>
    </a>
    <a href="/api">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
        <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M6.646 5.646a.5.5 0 1 1 .708.708L5.707 8l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708zm2.708 0 2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 8 8.646 6.354a.5.5 0 1 1 .708-.708"/>
      </svg>
      <span>API Docs</span>
    </a>
  </nav>
  <main>
    <%- body %>
  </main>
  <footer>
    <span>Project is open-source.</span>
    <span><a href="https://github.com/ernestpasnik/cs2d-serverlist/" target="_blank">View the code on GitHub</a>.</span>
  </footer>
  <script defer src="/script.js?v=<%= script %>"></script>
  <script defer src="https://cdn.jsdelivr.net/gh/tofsjonas/sortable@4.0.1/dist/sortable.min.js"></script>
</body>
</html>
