<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <% if (description) { %>
    <meta name="description" content="<%= description %>">
  <% } %>
  <% if (keywords) { %>
    <meta name="keywords" content="<%= keywords %>">
    <meta name="robots" content="index, follow">
  <% } else { %>
    <meta name="robots" content="noindex, nofollow">
  <% } %>
  <meta name="theme-color" content="#1a2837">
  <title><%= title %><% if (title) { %> · CS2D Server List<% } else { %>CS2D Server List<% } %></title>
  <link rel="icon" href="/favicon.ico">
  <link rel="stylesheet" href="/style.css?v=<%= style %>">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/inter-ui@4.1.0/inter.min.css">
  <link rel="canonical" href="https://cs2d.pp.ua<%= url %>">
  <meta property="og:type" content="website">
  <meta property="og:title" content="<%= title %><% if (title) { %> · CS2D Server List<% } %>">
  <% if (description) { %>
    <meta property="og:description" content="<%= description %>">
  <% } %>
  <meta property="og:image" content="https://cs2d.pp.ua/capsule_main_616x353.jpg">
  <meta property="og:image:width" content="616">
  <meta property="og:image:height" content="353">
  <meta property="og:url" content="https://cs2d.pp.ua<%= url %>">
  <meta property="og:site_name" content="CS2D Server List">
  <meta property="og:locale" content="en_US">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= title %><% if (title) { %> · CS2D Server List<% } %>">
  <% if (description) { %>
    <meta name="twitter:description" content="<%= description %>">
  <% } %>
  <meta name="twitter:image" content="https://cs2d.pp.ua/capsule_main_616x353.jpg">
</head>  
<body>
  <nav>
    <a href="/">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
        <path d="M2 9a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-1a2 2 0 0 0-2-2zm.5 3a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1m2 0a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1M2 2a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zm.5 3a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1m2 0a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1"/>
      </svg>
      <span>Servers</span>
    </a>
    <a href="/stats">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
        <path d="M6.5 0A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0zm3 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5z"/>
        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1A2.5 2.5 0 0 1 9.5 5h-3A2.5 2.5 0 0 1 4 2.5zM10 8a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0zm-6 4a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0zm4-3a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0v-3a1 1 0 0 1 1-1"/>
      </svg>
      <span>Stats</span>
    </a>
    <a href="/maps">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-map-fill" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.598-.49L10.5.99 5.598.01a.5.5 0 0 0-.196 0l-5 1A.5.5 0 0 0 0 1.5v14a.5.5 0 0 0 .598.49l4.902-.98 4.902.98a.5.5 0 0 0 .196 0l5-1A.5.5 0 0 0 16 14.5zM5 14.09V1.11l.5-.1.5.1v12.98l-.402-.08a.5.5 0 0 0-.196 0zm5 .8V1.91l.402.08a.5.5 0 0 0 .196 0L11 1.91v12.98l-.5.1z"/>
      </svg>
      <span>Maps</span>
    </a>
    <a href="/tools">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tools" viewBox="0 0 16 16">
        <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3q0-.405-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708M3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026z"/>
      </svg>
      <span>Tools</span>
    </a>
  </nav>
  <main>
    <%- body %>
  </main>
  <footer>
    <a href="/api">✨ API Docs</a>
    <a href="https://github.com/ernestpasnik/cs2d-serverlist/" target="_blank">🚀 GitHub</a>
  </footer>
  <script defer src="https://cdn.jsdelivr.net/gh/tofsjonas/sortable@4.0.1/dist/sortable.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/micromodal@0.6.1/dist/micromodal.min.js"></script>
  <script defer src="/script.js?v=<%= script %>"></script>
</body>
</html>
