<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Find the best CS2D servers with our multiplayer server list. Explore detailed information for each server.">
  <meta name="keywords" content="cs2d servers, best cs2d servers, cs2d server list, top cs2d servers, cs2d server details, cs2d server ranking">
  <title><% if (typeof title !== 'undefined') { %><%= title %> - <% } %>CS2D Server List</title>
  <link rel="icon" href="/favicon.ico">
  <link rel="stylesheet" href="/style.css?<%= version %>">
  <link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/inter-ui/3.19.3/inter.css>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <% if (typeof redirect !== 'undefined') { %><meta http-equiv="refresh" content="5;url=<%= url %>"><% } %>
</head>
<body>
  <nav>
    <a href="/"><i class="bi bi-hdd-rack-fill"></i>Servers</a>
    <a href="/stats"><i class="bi bi-file-earmark-bar-graph-fill"></i>Stats</a>
    <a href="/api"><i class="bi bi-file-earmark-code-fill"></i>API</a>
  </nav>
  <main>
    <%- body %>
  </main>
  <footer>
    <small>Code licensed <a href="https://github.com/ernestpasnik/cs2d-serverlist/" target="_blank" rel="noopener noreferrer">MIT</a>.</small>
    <small>Designed and built by <a href="https://ernest.zapto.org/" target="_blank" rel="noopener noreferrer">Ernest Paśnik</a>.</small>
  </footer>
  <script defer="defer" src="/script.js?<%= version %>"></script>
</body>
</html>
