<div class="flex">
  <div>
    <h1><%= title %></h1>
  </div>
  <a class="copyBtn" href="#">
    <code id="hash" class="copyContent" data-tippy-content="SHA-256 hash of the map file" data-tocopy="<%= v.file.hash %>"><%= v.file.hash.slice(0, 8) %>...</code>
  </a>
</div>

<div class="bar bar-map">
  <div>
    <span>Author's / Last Modifier's Name</span>
    <span><%= v.header.authorName || 'N/A' %></span>
  </div>
  <% if (v.header.authorUSGN > 0) { %>
  <a href="https://unrealsoftware.de/profile.php?userid=<%= v.header.authorUSGN %>" target="_blank">
    <span>Author's / Last Modifier's USGN</span>
    <span><%= v.header.authorUSGN %></span>
  </a>
  <% } else { %>
  <div>
    <span>Author's / Last Modifier's USGN</span>
    <span>N/A</span>
  </div>
  <% } %>
</div>

<div class="map-container">
  <a href="/maps/<%= prevMap %>" class="arrow arrow-left">&#8592;</a>
    <img class="minimap" src="/maps/<%= title %>/minimap.webp" alt="<%= title %>">
  <a href="/maps/<%= nextMap %>" class="arrow arrow-right">&#8594;</a>
</div>

<div class="stats map-info">
  <%- include('map_info') %>
</div>