<div class="flex">
  <div>
    <h1><%= title %></h1>
  </div>
  <a class="copyBtn" href="#">
    <code id="hash" class="copyContent" data-tippy-content="SHA-256 hash of the map file" data-tocopy="<%= v.mapHash %>"><%= v.mapHash.slice(0, 8) %>...</code>
  </a>
</div>

<div class="map-container">
  <a href="/maps/<%= prevMap %>" class="arrow arrow-left">&#8592;</a>
  <canvas id="map-preview" data-canvas='<%- JSON.stringify(v.canvas) %>'></canvas>
  <a href="/maps/<%= nextMap %>" class="arrow arrow-right">&#8594;</a>
</div>

<div class="stats map-info">
  <div class="stats-container">
    <label>Map Metadata</label>
    <div class="stat-item">
      <span>Map <%= title %>.map</span>
      <span><%= bytesToSize(v.mapSize) %></span>
    </div>
    <div class="stat-item">
      <span>Map size in tiles</span>
      <span><%= v.header.mapWidth %>×<%= v.header.mapHeight %></span>
    </div>
    <div class="stat-item<% if (v.header.tileImg && v.tilesetSize == 0) { %> err<% } %>">
      <span>Tileset <%= v.header.tileImg %></span>
      <span>
      <% if (!v.header.tileImg) { %>
        none
      <% } else { %>
        <%= v.tilesetSize > 0 ? bytesToSize(v.tilesetSize) : 'Not Found' %>
      <% } %>
      </span>
    </div>
    <div class="stat-item">
      <span>Tileset tile count</span>
      <span><%= v.header.tileCount %></span>
    </div>
    <div class="stat-item<% if (v.header.bgImg && v.bgSize == 0) { %> err<% } %>">
      <span>Background<%= v.header.bgImg ? ' ' + v.header.bgImg : '' %></span>
      <span>
      <% if (!v.header.bgImg) { %>
        none
      <% } else { %>
        <%= v.bgSize > 0 ? bytesToSize(v.bgSize) : 'Not Found' %>
      <% } %>
      </span>
    </div>
    <div class="stat-item">
      <span>Background color</span>
      <span>rgb(<%= v.header.bgRed %>, <%= v.header.bgGreen %>, <%= v.header.bgBlue %>)</span>
    </div>
    <div class="stat-item">
      <span>Program used to save</span>
      <span><%= v.header.programUsed ? v.header.programUsed : 'N/A' %></span>
    </div>
    <div class="stat-item">
      <span>Created/Last updated by</span>
      <% if (v.header.authorUSGN > 0) { %>
      <a href="https://unrealsoftware.de/profile.php?userid=<%= v.header.authorUSGN %>" target="_blank"><%= v.header.authorName || 'N/A' %></a>
      <% } else { %>
      <span><%= v.header.authorName || 'N/A' %></span>
      <% } %>
    </div>
  </div>

  <div class="stats-container">
    <label>External Resources</label>
    <% v.resources.forEach((item, index) => { %>
    <div class="stat-item<% if (item.size == 0) { %> err<% } %>">
      <% if (item.size > 0) { %>
      <% const isImage = /\.(png|bmp|jpe?g)$/i.test(item.path) %>
      <a href="/cs2d/<%= item.path %>"<% if (isImage) { %> class="cs2d"<% } %>><%= item.path %></a>
      <% } else { %>
      <span><%= item.path %></span>
      <% } %>
      <span><%= item.size > 0 ? bytesToSize(item.size) : 'Not Found' %></span>
    </div>
    <% }) %>
    <% if (v.resources.length === 0) {%>
    <span class="note no-external">No external resources needed.</span>
    <% } %>
  </div>
</div>
