<div class="flex">
  <div>
    <h1><%= title %></h1>
  </div>
</div>

<div class="bar">
  <% if (v.header.authorUSGN == 0) { %>
  <div>
    <span>Author</span>
    <span><%= v.header.authorName || 'N/A' %></span>
  </div>
  <% } else { %>
  <a href="https://unrealsoftware.de/profile.php?userid=<%= v.header.authorUSGN %>" target="_blank">
    <span>Author/Modified By</span>
    <span><%= v.header.authorName || 'N/A' %></span>
  </a>
  <% } %>
  <div>
    <span>Map Size</span>
    <span><%= v.header.mapWidth %>x<%= v.header.mapHeight %></span>
  </div>
  <div>
    <span>Tileset Image</span>
    <span><%= v.header.tilesetImage || 'N/A' %></span>
  </div>
  <div>
    <span>Background Image</span>
    <span><%= v.header.backgroundImage || 'N/A' %></span>
  </div>
</div>

<div class="fl">
  <div data-flag="nobuying" class="<%= v.entities.some(entity => entity.type === 11) ? 'dsbl' : 'enbl' %>">Is buying allowed?</div>
  <div data-flag="noweapons" class="<%= v.entities.some(entity => entity.type === 12) ? 'dsbl' : 'enbl' %>">Are weapons allowed?</div>
  <div data-flag="teleporters" class="<%= v.entities.some(entity => entity.type === 70) ? 'enbl' : 'dsbl' %>">Are there any teleporters?</div>
</div>

<div class="center">
  <div class="alert err">Map preview is coming soon — for now, you can view the minimap.</div>
</div>

<img class="minimap" src="/maps/<%= title %>/minimap.png" alt="<%= title %>">
