<div class="flex">
  <div>
    <h1><%= title %></h1>
  </div>
</div>

<div class="bar">
  <% if (v.header.authorUSGN == 0) { %>
  <div>
    <span>Author</span>
    <span><%= v.header.authorName || 'N/A' %></span>
  </div>
  <% } else { %>
  <a href="https://unrealsoftware.de/profile.php?userid=<%= v.header.authorUSGN %>" target="_blank">
    <span>Author/Last Modified By</span>
    <span><%= v.header.authorName || 'N/A' %></span>
  </a>
  <% } %>
  <div>
    <span>Width/Height</span>
    <span><%= v.header.mapWidth %>x<%= v.header.mapHeight %></span>
  </div>
  <div>
    <span>Tileset Image</span>
    <span><%= v.header.tilesetImage || 'N/A' %></span>
  </div>
  <div>
    <span>Background Image</span>
    <span><%= v.header.backgroundImage || 'N/A' %></span>
  </div>
</div>

<img class="minimap" src="/minimap/<%= title %>" alt="<%= title %>">
