<div class="flex">
  <div>
    <h1><%= title %></h1>
  </div>
</div>

<div class="bar">
  <% if (v.header.authorUSGN == 0) { %>
  <div>
    <span>Author/Modified By</span>
    <span><%= v.header.authorName || 'N/A' %></span>
  </div>
  <% } else { %>
  <a href="https://unrealsoftware.de/profile.php?userid=<%= v.header.authorUSGN %>" target="_blank">
    <span>Author/Modified By</span>
    <span><%= v.header.authorName || 'N/A' %></span>
  </a>
  <% } %>
  <div>
    <span>Map Size</span>
    <span><%= v.header.mapWidth %>×<%= v.header.mapHeight %> Tiles</span>
  </div>
  <div>
    <span>Tileset Image</span>
    <span><%= v.header.tilesetImage %></span>
  </div>
  <a class="copyBtn" href="#">
    <span>SHA-256 Hash</span>
    <code class="copyContent"><%= v.sha256 %></code>
  </a>
</div>

<div class="fl">
  <div data-flag="nobuying" class="<%= v.entities.some(entity => entity.type === 11) ? 'dsbl' : 'enbl' %>">Is buying allowed?</div>
  <div data-flag="noweapons" class="<%= v.entities.some(entity => entity.type === 12) ? 'dsbl' : 'enbl' %>">Are weapons allowed?</div>
  <div data-flag="teleporters" class="<%= v.entities.some(entity => entity.type === 70) ? 'enbl' : 'dsbl' %>">Are there any teleporters?</div>
</div>

<div class="map-container">
  <a href="/maps/<%= prevMap %>" class="arrow arrow-left">&#8592;</a>
  <img class="minimap" src="/maps/<%= title %>/minimap.webp" alt="<%= title %>">
  <a href="/maps/<%= nextMap %>" class="arrow arrow-right">&#8594;</a>
</div>