<div class="stats-container">
  <label>Header Details</label>
  <div class="stat-item">
    <span>Scroll map like tiles?</span>
    <span><%= v.header.scrollMap ? 'yes' : 'no' %></span>
  </div>
  <div class="stat-item">
    <span>Use modifiers in this map</span>
    <span><%= v.header.useModifiers ? 'yes' : 'no' %></span>
  </div>
  <div class="stat-item">
    <span>Save tile heights with map?</span>
    <span><%= v.header.saveTileHeights ? 'yes' : 'no' %></span>
  </div>
  <div class="stat-item">
    <span>Use 64x64 pixel tiles?</span>
    <span><%= v.header.use64pxTiles ? 'yes' : 'no' %></span>
  </div>
  <div class="stat-item">
    <span>Map daylight time</span>
    <span><%= v.header.daylightTime %></span>
  </div>
  <div class="stat-item">
    <span>Uptime of system</span>
    <span><%= formatUptime(v.header.sysUptime, true) %></span>
  </div>
  <div class="stat-item">
    <span>Program used</span>
    <span><%= v.header.programUsed ? v.header.programUsed : 'N/A' %></span>
  </div>
  <div class="stat-item">
    <span>Created/Last updated by</span>
    <% if (v.header.authorUSGN > 0) { %>
    <a href="https://unrealsoftware.de/profile.php?userid=<%= v.header.authorUSGN %>" target="_blank"><%= v.header.authorName || 'N/A' %></a>
    <% } else { %>
    <span><%= v.header.authorName || 'N/A' %></span>
    <% } %>
  </div>
</div>

<div class="stats-container">
  <label>Map Assets</label>
  <div class="stat-item">
    <span>Map <%= v.file.name %></span>
    <span><%= v.file.size %></span>
  </div>
  <div class="stat-item">
    <span>Map size</span>
    <span><%= v.header.mapWidth %>×<%= v.header.mapHeight %></span>
  </div>
  <div class="stat-item">
    <span>Tileset <%= v.header.tilesetImage %></span>
    <span><%= v.tilesetSize.size %></span>
  </div>
  <div class="stat-item">
    <span>Tileset tile count</span>
    <span><%= v.header.tileCount %></span>
  </div>
  <div class="stat-item">
    <span>Background<%= v.header.backgroundImage ? ' ' + v.header.backgroundImage : '' %></span>
    <span><%= v.backgroundSize.bytes > 0 ? v.backgroundSize.size : 'N/A' %></span>
  </div>
  <div class="stat-item">
    <span>Background scroll X</span>
    <span><%= v.header.bgScrollX %></span>
  </div>
  <div class="stat-item">
    <span>Background scroll Y</span>
    <span><%= v.header.bgScrollY %></span>
  </div>
  <div class="stat-item">
    <span>Background color</span>
    <span>rgb(<%= v.header.bgColorRed %>, <%= v.header.bgColorGreen %>, <%= v.header.bgColorBlue %>)</span>
  </div>
</div>

<div class="stats-container">
  <label>External Resources</label>
  <% v.resources.forEach((item, index) => { %>
  <div class="stat-item<% if (item.bytes == 0) { %> err<% } %>">
    <span><%= item.path %></span>
    <span><%= item.size %></span>
  </div>
  <% }) %>
</div>
