<div class="flex">
  <div>
    <h1>CS2D Server List</h1>
  </div>
</div>

<div class="responsive">
  <table class="svlst sortable asc">
    <thead>
      <tr>
        <th><abbr title="Game Mode">M</abbr></th>
        <th>Name</th>
        <th>Map</th>
        <th aria-sort="descending">Players</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      <% for (const ipPort in srv) { %>
        <% const s = srv[ipPort] %>
        <% const gamemode = ['S', 'D', 'T', 'C', 'Z'][s.gamemode] || '' %>
        <% const playerScore = (s.players - s.bots) * 100 + s.bots %>
        <% const hasBots = s.bots > 0 %>
    
        <tr <% if (s.players - s.bots > 0) { %> class="e" <% } %>>
          <td class="<%= gamemode.toLowerCase() %>"><%= gamemode %></td>
          <td><a href="/details/<%= s.ip %>:<%= s.port %>"><%= s.name %></a></td>
          <td><%= s.map %></td>
          <td data-sort="<%= playerScore %>">
            <%= s.players %>/<%= s.maxplayers %>
            <% if (hasBots) { %> <span class="b"><%= s.bots %></span><% } %>
          </td>
          <td><%= s.dbg.country_name %></td>
        </tr>
      <% } %>
    </tbody>
    
  </table>
</div>