<%- include('header') %>

<section>
  <div class="flex">
    <div>
      <a href="/"><h1>CS2D Serverlist</h1><small><%= host %></small></a>
    </div>
    <div>
      <div><strong id="servers"><%= serversNum %></strong> Servers</div>
      <div><strong id="players"><%= playersNum %></strong> Players</div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="sortable asc serverlist">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Map</th>
          <th>Players</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <% servers.forEach(function(s) { %>
        <tr <% if ((s.players - s.bots) === 0) { %> class="empty" <% } %>>
          <td data-sort="<%= s.country %>"><%= s.countryFlag %></td>
          <td><a href="/details/<%= s.ip %>:<%= s.port %>"><%= s.name %></a></td>
          <td><%= s.map %></td>
          <td data-sort="<%= s.players-s.bots %>"><%= s.players %>/<%= s.maxplayers %><% if (s.bots > 0) { %> (<%= s.bots %> bots)<% } %></td>
          <td><%= s.ip %>:<%= s.port %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</section>

<%- include('footer') %>
