<%- include('header') %>

<div class="statistics">
  <div>
    <small>Servers</small>
    <span id="servers"><%= serversNum %></span>
  </div>
  <div>
    <small>Players</small>
    <span id="players"><%= playersNum %></span>
  </div>
</div>
<section class="responsive">
  <table class="sortable asc">
    <thead>
      <tr>
        <th>Country</th>
        <th>Name</th>
        <th>Map</th>
        <th>Players</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <% servers.forEach(function(s) { %>
      <tr>
        <td data-sort="<%= s.country %>">
          <img src="https://flagcdn.com/16x12/<%= s.country.toLowerCase() %>.webp" alt="<%= s.country %>" width="16" height="12">
        </td>
        <td>
          <a href="/details/<%= s.ip %>:<%= s.port %>"><%= s.name %></a>
        </td>
        <td><%= s.map %></td>
        <td data-sort="<%= s.players - s.bots %>">
          <%= s.players %>/<%= s.maxplayers %>
          <% if (s.bots > 0) { %> (<%= s.bots %> bots)<% } %>
        </td>
        <td><%= s.ip %>:<%= s.port %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</section>

<%- include('footer') %>
