<%- include('header') %>

<div class="statistics">
  <div>
    <small>Servers</small>
    <span id="servers"><%= servers %></span>
  </div>
  <div>
    <small>Players</small>
    <span id="players"><%= players %></span>
  </div>
</div>
<section class="responsive">
  <table class="sortable asc">
    <thead>
      <tr>
        <th>ISO</th>
        <th>Name</th>
        <th>Map</th>
        <th>Players</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <% for (var i = 0; i < svlst.length; i++) { %>
      <tr>
        <td data-sort="<%= svlst[i].country %>">
          <img src="https://flagcdn.com/16x12/<%= svlst[i].country %>.png" alt="<%= svlst[i].country %>" width="16" height="12">
        </td>
        <td>
          <a href="/details/<%= svlst[i].ip %>:<%= svlst[i].port %>"><%= svlst[i].name %></a>
        </td>
        <td><%= svlst[i].map %></td>
        <td data-sort="<%= svlst[i].players-svlst[i].bots %>">
          <%= svlst[i].players %>/<%= svlst[i].maxplayers %>
          <% if (svlst[i].bots > 0) { %> (<%= svlst[i].bots %> bots)<% } %>
        </td>
        <td><%= svlst[i].ip %>:<%= svlst[i].port %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</section>

<%- include('footer') %>
