<div class="flex">
  <div>
    <h1><%= title %></h1>
  </div>
</div>

<div class="stats">
  <div class="stats-container">
    <label>Current Game Activity</label>
    <div class="stat-item">
      <span>Total Servers</span>
      <span><%= stats.totalServers %></span>
    </div>
    <div class="stat-item">
      <span>Bots on Servers</span>
      <span><%= stats.totalBots %></span>
    </div>
    <div class="stat-item">
      <span>Players on Servers</span>
      <span><%= stats.totalPlayers %></span>
    </div>
    <div class="stat-item">
      <span>USGN Players Online</span>
      <span><%= stats.usgnUsers %></span>
    </div>
    <div class="stat-item">
      <span>Steam Players Online</span>
      <span><%= stats.steamUsers %></span>
    </div>
  </div>
  <div class="stats-container">
    <label>Top Game Modes</label>
    <% stats.gamemodes.forEach(v => { %>
      <div class="stat-item">
        <span><%= ['Standard', 'Deathmatch', 'Team Deathmatch', 'Construction', 'Zombies!'][v.gm] || 'Unknown' %></span>
        <span><%= v.count %></span>
      </div>
    <% }) %>
  </div>
  <div class="stats-container">
    <label>Top Server Regions</label>
    <% stats.locations.forEach(v => { %>
      <div class="stat-item">
        <span><%= v.country %></span>
        <span><%= v.count %></span>
      </div>
    <% }) %>
  </div>
</div>

<div class="stats">
  <div class="stats-container">
    <label>Most Played Maps</label>
    <% stats.maps.forEach(v => { %>
      <div class="stat-item">
        <span><%= v.map %></span>
        <span><%= v.count %></span>
      </div>
    <% }) %>
  </div>
  <div class="stats-container">
    <label>Top Responding Servers</label>
    <% stats.responses.forEach(v => { %>
      <div class="stat-item">
        <span><a href="/details/<%= v.addr %>"><%= v.data.name %></a></span>
        <span><%= v.data.ratio %>%</span>
      </div>
    <% }) %>
  </div>
</div>

<div class="stats">
  <div class="stats-container">
    <label><abbr title="Since Node.js process started <%= stats.uptime %>">UDP Network Metrics</abbr></label>
    <div class="stat-item">
      <span>Bytes Sent</span>
      <span><%= stats.sentBytes %></span>
    </div>
    <div class="stat-item">
      <span>Bytes Received</span>
      <span><%= stats.recvBytes %></span>
    </div>
    <div class="stat-item">
      <span>Packets Sent</span>
      <span><%= stats.sentPackets %></span>
    </div>
    <div class="stat-item">
      <span>Packets Received</span>
      <span><%= stats.recvPackets %></span>
    </div>
  </div>
  <div class="stats-container">
    <label>Recently Updated Leaderboards</label>
    <% stats.leaderboards.forEach(v => { %>
      <div class="stat-item">
        <span><a href="/leaderboard/<%= v.addr %>"><%= v.name %></a></span>
        <span><%= timeAgo(v.ts) %></span>
      </div>
    <% }) %>
  </div>
</div>
