<%- include('header') %>

<ul class="bc">
  <li class="bc-item"><a href="/">CS2D Serverlist</a></li>
  <li class="bc-item"><%= title %></li>
</ul>
<div class="panel">
  <div class="content">
    <h1>Application Statistics</h1>
    <div class="box">
      <div class="responsive">
        <table class="details">
          <tbody>
            <tr>
              <th>Uptime</th>
              <td><%= uptime %></td>
            </tr>
            <tr>
              <th>Bytes sent</th>
              <td><%= sentSize %></td>
            </tr>
            <tr>
              <th>Bytes received</th>
              <td><%= recvSize %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%- include('footer') %>
