<div class="flex">
  <div>
    <h1><i class="bi bi-file-earmark-bar-graph-fill"></i><%= title %></h1>
    <div class="subh"><i class="bi bi-info-lg"></i>Servers stats</div>
  </div>
  <div>&nbsp;</div>
</div>

<div class="stats">
  <div class="stats-container">
    <h2><i class="bi bi-server"></i>Service Details</h2>
    <div class="stat-item">
      <span>App Version</span>
      <span><%= version %></span>
    </div>
    <div class="stat-item">
      <span>Node.js Version</span>
      <span><%= stats.nodeVersion %></span>
    </div>
    <div class="stat-item">
      <span>Process Uptime</span>
      <span><%= stats.uptime %></span>
    </div>
    <div class="stat-item">
      <span>HTTP Requests</span>
      <span><%= requests %></span>
    </div>
    <div class="stat-item">
      <span>Memory Usage</span>
      <span><%= stats.mem %></span>
    </div>
  </div>

  <div class="stats-container">
    <h2><i class="bi bi-router"></i>Network Usage</h2>
    <div class="stat-item">
      <span>Sent Bytes</span>
      <span><%= stats.sentBytes %></span>
    </div>
    <div class="stat-item">
      <span>Sent Packets</span>
      <span><%= stats.sentPackets %></span>
    </div>
    <div class="stat-item">
      <span>Received Bytes</span>
      <span><%= stats.recvBytes %></span>
    </div>
    <div class="stat-item">
      <span>Received Packets</span>
      <span><%= stats.recvPackets %></span>
    </div>
    <div class="stat-item">
      <span>Total Bandwidth</span>
      <span><%= stats.totalBandwidth %></span>
    </div>
  </div>
</div>

<div class="stats">
  <div class="stats-container">
    <h2><i class="bi bi-geo-alt-fill"></i>Popular Locations</h2>
    <% stats.locations.slice(0, 5).forEach(country => { %>
      <div class="stat-item">
        <span><%= country.country %></span>
        <span><%= country.count %></span>
      </div>
    <% }) %>
  </div>
  <div class="stats-container">
    <h2><i class="bi bi-controller"></i>Popular Game Modes</h2>
    <% stats.gamemodes.slice(0, 5).forEach(gm => { %>
      <div class="stat-item">
        <span><%= ['Standard', 'Deathmatch', 'Team Deathmatch', 'Construction', 'Zombies!'][gm.gm] || '' %></span>
        <span><%= gm.count %></span>
      </div>
    <% }) %>
  </div>
</div>

<div class="stats">
  <div class="stats-container">
    <h2><i class="bi bi-globe-europe-africa"></i>Popular Maps</h2>
    <% stats.maps.slice(0, 5).forEach(map => { %>
      <div class="stat-item">
        <span><%= map.map %></span>
        <span><%= map.count %></span>
      </div>
    <% }) %>
  </div>
  <div class="stats-container">
    <h2><i class="bi bi-arrow-left-right"></i>Highest Response Ratio</h2>
    <% stats.highestResponseRatio.slice(0, 5).forEach(rr => { %>
      <div class="stat-item">
        <span><%= rr.server.name %></span>
        <span><%= rr.ratio %></span>
      </div>
    <% }) %>
  </div>
</div>
