<div class="flex">
  <div>
    <h1><%= title %></h1>
  </div>
</div>

<p>Monitor your CS2D servers on Discord with automatic updates every 10 seconds. Simply select the servers you want to track and provide your webhook URL. Not sure how to make a webhook in Discord? <a href="https://www.svix.com/resources/guides/how-to-make-webhook-discord/" target="_blank">Follow this guide</a> to get started.</p>

<form id="server-form">
  <label for="search">Select servers</label>
  <div class="checkbox-container" id="checkboxes">
    <% const sortedServers = Object.entries(srv).sort((a, b) => a[1].name.localeCompare(b[1].name)) %>
    <% sortedServers.forEach(([ipPort, s], index) => { %>
      <% const id = `s${index + 1}` %>
      <div>
        <input type="checkbox" name="servers" value="<%= s.ip %>:<%= s.port %>" id="<%= id %>" <% if (s.selected) { %>checked<% } %> >
        <label for="<%= id %>"><%= s.name %></label>
      </div>
    <% }) %>  
  </div>
  <label for="url">Webhook URL</label>
  <input type="text" id="url" name="url">
  <div id="timeAgo">
    <button type="submit">Submit</button>
    <div class="alert-container"></div>
  </div>
</form>
