<div class="flex">
  <div>
    <h1><%= title %></h1>
  </div>
</div>

<p>Monitor your CS2D servers on Discord with automatic updates every 10 seconds. Simply select the servers you want to track and provide your webhook URL. Not sure how to add a Discord webhook? Follow this <a href="https://hookdeck.com/webhooks/platforms/how-to-get-started-with-discord-webhooks#how-do-i-add-a-webhook-to-discord" target="_blank">guide</a> to get started.</p>

<form method="POST">
  <% if (typeof err !== 'undefined' && err) { %>
    <div class="alert alert-err">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-exclamation-octagon-fill" viewBox="0 0 16 16">
        <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
      </svg>
      <span><%= err %></span>
    </div>
  <% } %>
  <% if (typeof msg !== 'undefined' && msg) { %>
    <div class="alert alert-msg">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
      </svg>
      <span><%= msg %></span>
    </div>
  <% } %>
  <label for="search">Select servers</label>
  <div class="checkbox-container" id="checkboxes">
    <% const sortedServers = Object.entries(res.servers).sort((a, b) => a[1].name.localeCompare(b[1].name)); %>
    <% sortedServers.forEach(([ipPort, s], index) => { %>
      <% const id = `s${index + 1}`; %>
      <div>
        <input type="checkbox" name="servers" value="<%= ipPort %>" id="s<%= id %>">
        <label for="s<%= id %>"><%= s.name %></label>
      </div>
    <% }) %>  
  </div>
  <label for="url">Webhook URL</label>
  <input type="text" id="url" name="url">
  <button type="submit">Submit</button>
</form>
