<div class="flex">
  <div>
    <h1><%= title %></h1>
  </div>
</div>

<p>Monitor your CS2D servers on Discord with automatic updates every 10 seconds. Simply select the servers you want to track and provide your webhook URL. Not sure how to add a Discord webhook? Follow this <a href="https://hookdeck.com/webhooks/platforms/how-to-get-started-with-discord-webhooks#where-can-i-find-discord-webhooks" target="_blank">guide</a> to get started.</p>

<form method="POST">
  <% if (typeof err !== 'undefined' && err) { %>
    <div class="alert alert-err"><%= err %></div>
  <% } %>
  <% if (typeof msg !== 'undefined' && msg) { %>
    <div class="alert alert-msg"><%= msg %></div>
  <% } %>
  
  <label for="search">Select servers</label>
  <div class="checkbox-container" id="checkboxes">
    <% const sortedServers = Object.entries(srv).sort((a, b) => a[1].name.localeCompare(b[1].name)); %>
    <% sortedServers.forEach(([ipPort, s], index) => { %>
      <% const id = `s${index + 1}`; %>
      <div>
        <input type="checkbox" name="servers" value="<%= s.ip %>:<%= s.port %>" id="<%= id %>" <% if (s.selected) { %>checked<% } %> >
        <label for="<%= id %>"><%= s.name %></label>
      </div>
    <% }) %>  
  </div>
  
  <label for="url">Webhook URL</label>
  <input type="text" id="url" name="url">
  
  <button type="submit">Submit</button>
</form>
